* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }  

  .container-c {
    position: relative;
    width: 100%;
    min-height: 95vh;
    padding: 2rem;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .All-header{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 3rem 0 -3rem 0;
    z-index: 1;
    font-family: "Lucida Console", "Courier New", monospace;
   
  }
  .All-header span{
    font-weight: bold;
    font-size: 1.5rem;
  }
 

  .cform {
    width: 100%;
    max-width: 820px;
    background-color: #f2ebeb;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color:#0a0a0a;
  }
  .FAQ{
    display:none;
  }
  
  .contact-form {
    background-color:  #1f2937;
    position: relative;
    margin-top: 5px;
  }

  .contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #505b83;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
  }
  
  form {
    padding: 1.2rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
  }
  
  .title {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  
  .input-container-c {
    position: relative;
    margin: 1rem 0;
  }
  
  .input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
  }
  
  textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
  }
  
  .input-container-c ::placeholder {
    position: absolute;
    top: 1rem;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #e9e9e9bf;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
  }
  
  .input-container-c.textarea label {
    top: 1rem;
    transform: translateY(0);
  }
  
  .button {
    background: linear-gradient(to right, rgba(20, 204, 204, 0.8), rgba(37, 245, 183, 0.8));
    box-shadow: 0px 10px 20px rgba(37, 245, 183, 0.42);
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 12px 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    align-items: center;
  }
  .s-button{
    box-shadow: none;
  } 
  
  
  .input-container-c span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
  }
  
  .input-container-c span:before,
  .input-container-c span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #6b8e36;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .input-container-c span:before {
    left: 50%;
  }
  
  .input-container-c span:after {
    right: 50%;
  }
  
  .input-container-c.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
  }
  
  .input-container-c.focus span:before,
  .input-container-c.focus span:after {
    width: 50%;
    opacity: 1;
  }
  .contact-info { 
    padding: 1.2rem 2.2rem; 
    position: relative; 
    background-color: #c9c5c5; 
    margin: 20px; /* Add margin to move away from the edges */ 
  }
  
  .contact-info .contact-title {
    color: #0a0a0a;
    margin-bottom: 0.4rem; 
    margin-top: 5px;
  }


   .contact-title-white {
    color: white;
    margin-bottom: 0.4rem; 
    margin-top: 5px;
    margin-top: 2px;
    text-align: center;
  }

  
  
  .text {
    color: #333;
    margin: 1.5rem 0 2rem 0;
    text-align: justify;
  }
  
  .information {
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
  }
  .contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #ebecf0;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
  }
  
  
  .square {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.2;
  }
  .blur-c {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: rgb(227, 215, 234);
    filter: blur(212px);
    z-index: -9;
    margin-top: -20%;
    left: 1%;
    filter: blur(60px);
  }
  
  @media (max-width: 850px) {
    .cform {
      grid-template-columns: 1fr;
    }
  
    .contact-info:before {
      bottom: initial;
      top: -75px;
      right: 65px;
      transform: scale(0.95);
    }
  
    .contact-form:before {
      top: -13px;
      left: initial;
      right: 70px;
    }
  
    .square {
      transform: translate(140%, 43%);
      height: 350px;
    }
  
  
    .text {
      margin: 1rem 0 1.5rem 0;
    }
  
    .social-media {
      padding: 1.5rem 0 0 0;
    }
    .blur-c {
      position: relative;
      width: 22rem;
      height: 14rem;
      border-radius: 50%;
      background: rgb(227, 215, 234);
      filter: blur(212px);
      z-index: -9;
      margin-top: -58%;
      left: 1%;
      filter: blur(60px);
    }
  }
  
  @media (max-width: 480px) {
    .container-c{
      padding: 5rem;
    }
    .text{
      display: none;
    }
    .information{
      display: none;
    }
    .cwm{
      display: none;
    }
    .FAQ{
      display:flex;
    }
	.blur-c{
		display: none;
	}
    .container-c {
      padding: .1rem;
    }
  
    .contact-info:before {
      display: none;
    }
  
    .square
    {
      display: none;
    }
  
    form{
      padding: 1.7rem 1.6rem;
    }

    .contact-info {
      padding: 1.7rem 1.6rem;
    }
  
    .text,
    .information,
    .social-media p {
      font-size: 0.8rem;
    }
  
    .title {
      font-size: 1.15rem;
    }
  
    .social-icons a {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  
    
  
    .input {
      padding: 0.45rem 1.2rem;
    }
  
    .btn {
      padding: 0.45rem 1.2rem;
    }
    .blur-c {
      position: absolute;
      width: 22rem;
      height: 14rem;
      border-radius: 50%;
      background: rgb(227, 215, 234);
      filter: blur(212px);
      z-index: -9;
      margin-top: -58%;
      left: 1%;
      filter: blur(60px);
    }
    .All-header{
        display: none;
	}
    .blur-c{
        display: none;
      }
 
  }
  @media screen and (max-width: 1420px) {
    .blur-c {
      position: absolute;
      width: 22rem;
      height: 14rem;
      border-radius: 50%;
      background: rgb(227, 215, 234);
      filter: blur(212px);
      z-index: -9;
      margin-top: -58%;
      left: 1%;
      filter: blur(60px);
    }
  }
  @media (max-width: 1500px) {
    .All-header{
      font-weight: bold;
      text-align: center;
      margin: 3rem 0 0 0;
    }
  }
  
  
  .contact-info {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    text-align: center;
  }
  
  .info-item {
    margin-bottom: 15px;
    
  }
  
  .info-item h4 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .info-item p {
    margin: 5px 0 0;
    font-size: 1em;
  }

  .locn{
    text-align: center;
    color: #0a0a0a;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif ;
  }
  
  iframe {
    display: block;
    width: 1500%;
    max-width: 600px;
    height: 450px;
    border: 0;
    margin: 0 auto; /* Horizontally center the iframe */
  }
  
  .map-container {
    display: flex;          /* Use Flexbox */
    justify-content: right; /* Center horizontally */
    align-items: center;    /* Center vertically */
    width: 100%;
    height: 500px;         /* Set desired height */
    max-width: 100%;
    text-align: center;

  }